# Use editorconfig to stop whitespace wars
# http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default to using tabs
# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
charset = utf-8

# 2 space indent for yaml
[*.{yml,yaml}]
indent_style = space
indent_size = 2
